.wrapper-car {
	width: 960px;
	display: flex;
	justify-content: space-between;
}

.carousel {
	width: 100%;
}

.carousel.one {
	height: 150px;
	box-sizing: border-box;
	padding: 5px;
}

.fourth > h1 {
	font-size: 1.5em;
	max-width: 218px;
	margin: 6px;
	margin-top: 0;
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
	text-align: center;
}